@import '../assets/styles/colors.scss';

.nav-item {
  display: flex;
  align-items: center;
  color: $text-color-dark;
  height: 48px;
  cursor: pointer;
  border-left: 2px solid $nav-color;
}

.nav-link {
  width: 100%;
  color: $text-color-dark;
  text-decoration: none;
}

.icon-materials {
  background-image: url('../assets/images/materials-blue.svg');
}

.icon-reports {
  background-image: url('../assets/images/reporting-blue.svg');
}

.nav-item.active {
  background-color: $sidebar-active;
}

.nav-item:hover {
  border-color: $layout-dark-color;
  background-color: $sidebar-hover;
}

.icon {
  width: 24px;
  height: 24px;
  margin: 12px 16px 12px 14px;
  background-size: cover;
}
