<div class="content" role="main">
  <button (click)="toggleSideNav()">show nav</button>

<lht-sidebar [expanded]="isShowingSideNav" (overlayClick)="toggleSideNav()">
  <div nav-items>
    <a *ngFor="let item of navItems" routerLinkActive="active" [routerLink]="[item.route]"
          class="nav-item nav-link">
          <span [ngClass]="item.cssClass"></span>
          {{ (isShowingSideNav ? item.title : '') | translate }}
        </a>
  </div>

  <router-outlet main-content></router-outlet>
</lht-sidebar>
</div>
