html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "./assets/styles/reset.scss";
@import "./assets/styles/normalize.scss";
@import "./assets/styles/typography.scss";
